<div class="d-flex justify-content-center">
  <div class="card" style="width: 26rem;">
    <div class="card-header">Se Connecter Là</div>
    <div class="card-body">
      <form [formGroup]="form" (submit)="submitLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" formControlName="email" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" name="password" class="form-control" id="password" formControlName="password"
            required />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Se Connecter</button>
      </form>
    </div>
  </div>
</div>